body{
  font-family: 'Roboto', sans-serif;
}
.main-wrapper{
  height: 100vh;
  display: flex;
}
section:nth-child(1){
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
section:nth-child(2){
margin-top: 65px;
}
.bell_custom{
  margin: 0;
  padding: 0;
}
.search_custom{
  width: 75%;

}
.logo_custom img:first-child{
  height:40px;
}
.aside{
  background-color: #051e34;
  background-image: url(/img/sidebar-bg.png);
  height:100%;
  width: 80px;
}
.aside button{
  background-color: rgba(0, 0, 0,0);
  border: none;
}
.content{
  height: 100%;
  overflow: auto;
}
.p_container:nth-child(2){
background-color: #f8f9fa;
}
.p_container{
padding: 25px 20px;
}

.button_custom{
  background-color: rgba(0, 0, 0,0.2);
}
.class_avatar{
  height: 40px;
  vertical-align: middle;
}
@media screen and (min-width:1200px) {
  .aside{
    width: 220px;
  }
  .row_card_1_custom{
    width: 100%;
  }
  .row_card_2_custom{
    width: 40%;
  }
}